# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\U4up\shaohuashuwu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
